# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  # build:
  #   # The type of runner that the job will run on
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       node-version: [12.x]
  #   # Steps represent a sequence of tasks that will be executed as part of the job
  #   steps:
  #     - uses: actions/checkout@v1
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 12.8
  #     - name: Cache NPM dependencies
  #       uses: actions/cache@v1
  #       with:
  #         path: ~/.npm
  #         key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
  #         restore-keys: |
  #           ${{ runner.OS }}-npm-cache-
  #     - name: npm install and npm run build
  #       run: |
  #         npm install
  #         npm run setversion 0.1.${{ github.run_number }}
  #         npm run build:ci
  #         npm run build:app:ci
  #     - name: Archive production artifacts
  #       uses: actions/upload-artifact@v2
  #       with:
  #         name: dist-without-markdown
  #         path: dist


  # publish-github:
  #   # The type of runner that the job will run on
  #   needs: build
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       node-version: [12.x]
  #   # Steps represent a sequence of tasks that will be executed as part of the job
  #   steps:
  #     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #     - uses: actions/checkout@v1
  #     - name: Use Node.js 12.8
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: 12.8
  #         registry-url: 'https://npm.pkg.github.com'
  #     - name: Download a single artifact
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: dist-without-markdown
  #         path: dist
  #     - name: npm run publish
  #       run: npm run publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.t2 }}


  # publish-npm:
  #   # The type of runner that the job will run on
  #   needs: build
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       node-version: [12.x]
  #   # Steps represent a sequence of tasks that will be executed as part of the job
  #   steps:
  #     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #     - uses: actions/checkout@v1
  #     - name: Use Node.js 12.8
  #       uses: actions/setup-node@v1
  #       with:
  #         node-version: 12.8
  #         registry-url: 'https://registry.npmjs.org/'
  #     - name: Download a single artifact
  #       uses: actions/download-artifact@v2
  #       with:
  #         name: dist-without-markdown
  #         path: dist
  #     - name: npm run publish
  #       run: npm run publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}


  publish-app:
    # The type of runner that the job will run on
    # needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # - name: Download a single artifact
      #   uses: actions/download-artifact@v2
      #   with:
      #     name: dist-without-markdown
      #     path: dist
      # - name: Deploy with github-pages
      #   uses: JamesIves/github-pages-deploy-action@4.0.0
      #   with:
      #     ACCESS_TOKEN: ${{ secrets.t2 }}
      #     BASE_BRANCH: main # The branch the action should deploy from.
      #     BRANCH: gh-pages # The branch the action should deploy to.
      #     FOLDER: dist/kendo-jalali-date # The folder the action should deploy.
      #     SINGLE_COMMIT: true
      - uses: actions/setup-node@v1
        with:
          node-version: 12.8
      # - name: Cache NPM dependencies
      #   uses: actions/cache@v1
      #   with:
      #     path: ~/.npm
      #     key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.OS }}-npm-cache-
      - name: npm install and npm run build
        run: |
          node update-screenshot.js
      - name: Update resources
        uses: test-room-7/action-update-file@v1
        with:
            file-path: src/assets/screenshot.png
            commit-msg: Update resources
            github-token: ${{ secrets.t2 }}
      # - name: screenshots-ci-action
      #   uses: flameddd/screenshots-ci-action@v1.1.1
      #   with:
      #     url: https://tiampersian.github.io/kendo-jalali-datepicker/
      #     devices: iPhone 6,iPhone 6 landscape,Nexus 7,Pad Pro,Galaxy S III landscape,iPad Pro landscape
      # - name: Publish generated content to GitHub Pages
      #   uses: tsunematsu21/actions-publish-gh-pages@v1.0.1
      #   with:
      #     dir: dist/kendo-jalali-date
      #     branch: gh-pages
      #     token: ${{ secrets.t2 }}


